//-----------------------------------------colors

$blue: rgb(12, 12, 253);
$white: #fff;
$green :rgb(0, 128, 0);
$darkFray: rgb(88, 82, 82);


//----------------------------------------mediaScreen

$md1: 1024px;
$md2:768px;
$md3:420px;