@import './variables.scss';

:root{
    --fontSize: 16px;
    --mainColor: rgba(0, 0, 0, 0.87);
    --maxWidthContainer: 1200px;
    --backgroundColor: #F8F8F8;
    --fontFamily: 'Nunito', sans-serif;
    --minWidth: 360px;
    --lineHeight: 1.63;
}