@import '../../styles/variables.scss';

.header{
    background-color: $white;
    min-height: 71px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    row-gap: 10px;

    @media (max-width: $md2) {
        flex-wrap: wrap;
    }
}
.logo{
    text-transform: uppercase;
    font-weight: 700;
}
.search{
    max-width:  400px;
    width: 100%;

    @media (max-width: $md2) {
        order: 1;
        max-width: 100%;
    }
}
.menu{
    display: flex;
    gap: 20px;
}
.active{
    border-bottom: 1px solid $blue;
}