@import '../../styles/variables.scss';

.product{
    display: flex;
    gap: 100px;
    padding-top: 50px;

    @media (max-width: $md1) {
        flex-direction: column;
    }
}
.image{
    max-width: 600px;
    height: 600px;
    width: 100%;

    @media (max-width: $md3) {
       height: 300px;
    }

    img{
        width: 100%;
        height: 100%;
    }
}
.content{
    display: flex;
    flex-direction: column;

    @media (max-width: $md1) { 
        text-align: center;
    }
}
.title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 250px;

    @media (max-width: $md1) {
        margin-bottom: 100px;
    }
    @media (max-width: $md3) {
        margin-bottom: 50px;
     }
}
.price{
    font-size: 30px;
    color: $green;
}
.category{
    padding-top: 30px;

    span{
        font-weight: 700;
    }
}
.button{
    margin-top: 20px;
    padding: 5px 40px;
    border-radius: 5px;
    border: 1px solid $blue;
    transition: all .4s ease;
    &:hover {
        background-color: $blue;
        color: $white;
    }
}